{% extends "layout.html" %}

{% block heading %} Takes {% endblock %}

{% block main %}
  <div class="container">
    <br />
    <h1>
      <span class="purple">{{ take }}</span>
    </h1>
    <h3>
        Author: {{ author }}
    </h3>
    <br />
      <form action="/takes/{{ num }}" method="post">
        <label class="contain">Freezing Cold
          <input type="radio" name="rate" value="1">
          <span class="checkmark"></span>
        </label>
        <label class="contain">Cool
          <input type="radio" name="rate" value="2">
          <span class="checkmark"></span>
        </label>
        <label class="contain">Lukewarm
          <input type="radio" name="rate" value="3">
          <span class="checkmark"></span>
        </label>
        <label class="contain">Hot
          <input type="radio" name="rate" value="4">
          <span class="checkmark"></span>
        </label>
        <label class="contain">Scalding
          <input type="radio" name="rate" value="5">
          <span class="checkmark"></span>
        </label>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
  </div>
{% endblock %}
