{% extends "layout.html" %}

{% block heading %} Write {% endblock %}

{% block main %}
  <div class="container">
    <br />
    <form action="/write" method="post">
      <label class="contain">Take
        <input type="radio" name="type" value="take">
        <span class="checkmark"></span>
      </label>
      <label class="contain">Blog
        <input type="radio" name="type" value="blog">
        <span class="checkmark"></span>
      </label>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
{% endblock %}
