{% extends "layout.html" %}

{% block heading %} Index {% endblock %}

{% block main %}
      <br />
      <div class="container">
        <div class="jumbotron">
          <h1>
            CS50 <span class="purple" id = "purple">FLACK</span>
          </h1>
          <img class="shake" src="/static/Chat.jpg" alt="Logo" style="width:200px;height:200px;" />
          <p>
            Because you should chat more and this website will help you do that. You're welcome.
          </p>
            <div class="form-group">
                <input class="form-control" name="dName" placeholder="Display Name" id="dName" type="text" autocomplete="off">
            </div>
            <button type="submit" class="hubber" id="hubber">Chat</button>
        </div>
      </div>
      <script src="{{ url_for('static', filename='index.js') }}"></script>

{% endblock %}
