{% extends "layout.html" %}

{% block heading %} About {% endblock %}

{% block main %}
  <div class="container">
    <br />
    <br />
    <br />
    <h1>
      CS50 <span class="purple">BOOKS</span>
    </h1>
    <p class="readableText">
      CS50 BOOKS is part of problem set 1 for the Harvard Extension CS33 (or something like that) class. It
      is a site in which people can create accounts and review books.
    </p>
    <img class="center" src="/static/CRLS2.jpg" alt="Image of CRLS" height=500>
  </div>
{% endblock %}
