{% extends "layout.html" %}

{% block heading %} About {% endblock %}

{% block main %}
  <div class="container">
    <br />
    <br />
    <br />
    <h1>
      CS50 <span class="purple">ADD ONS</span>
    </h1>
    <p class="readableText">
      Pepperoni
      Sausage
      Mushrooms
      Onions
      Ham
      Canadian Bacon
      Pineapple
      Eggplant
      Tomato & Basil
      Green Peppers
      Hamburger
      Spinach
      Artichoke
      Buffalo Chicken
      Barbecue Chicken
      Anchovies
      Black Olives
      Fresh Garlic
      Zucchini
    </p>
    <img class="center" src="../../static/orders/images/Pizza.jpg" alt="Image of pizza" height=400>
  </div>
{% endblock %}
